html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}





html {
    scroll-behavior: smooth;
  }

body {
    font-family: Open Sans;
}

/* Header */

.header {
    width: 100%;
    height: 100vh;
    background-image: url(img/glenn-carstens-peters-203007-unsplash\ .jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-bar {
    background-color: #222;
    display: grid;
    grid-template-columns: 50% 50%;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    align-items: center;
}

.nav-btn {
    display: none;
}

.top-bar h2 {
    color: #fec503;
    width: 50%;
    text-align: center;
    font-family: Kaushan Script;
    font-size: 24px;
}

.top-bar h2 a {
    text-decoration: none;
    color: #fec503;
}

.nav-list {
    display: flex;
    justify-content: space-evenly;
}

.nav-bar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    font-family: Montserrat;
    font-weight: 350;
}

.nav-bar ul li a:hover {
    color: #fec503;
}

.header-text {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header-text h3 {
    color: white;
    font-weight: 250;
    font-size: 50px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 350;
}

.header-text h1 {
    color: white;
    font-size: 80px;
    text-align: center;
    letter-spacing: 0.5px;
    font-weight: 500;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.header-text button {
    cursor:pointer;
    width: 240px;
    height: 80px;
    margin: 0 auto;
    font-size: 20px;
    text-transform: uppercase;
    background-color: #0074D9;
    border: none;
    color: white;
    border-radius: 12px;
    letter-spacing: 1px;
    font-weight: 500;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.header-text button:hover {
    background-color: #fec503;
}

.active-state {
    border: 1px solid #fec503;
    padding: 5px;
    color: #fec503 !important;
}

/* Services */

.services-section {
    margin-top: 100px;
}

.section-title {
    font-size: 50px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 350;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-weight: 700;
}

.services {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(3, 25%);
    margin: 0 auto;
    justify-content: space-evenly;
}

.services-info {
    text-align: center;
}

.services-i {
    font-size: 50px;
    background: #fec503;
    color: #fff;
    padding: 25px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.services-title {
    color: #000;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.services-text {
    color: #777;
    line-height: 1.4;
}

/* Portfolio */

#portfolio {
    margin-top: 200px;
}

.portfolio-container {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: 300px;
    justify-content: space-between;
    margin: 0 auto;
}

.portfolio-img {
    width: 100%;
    height: 270px;
    border-radius: 8px;
}

.portfolio-img:hover {
    transform: scale(1.5);
}

/* About */

#about {
    margin-top: 200px;
}

.about-container {
    width: 70%;
    height: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.about-row {
    display: inline-grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: space-evenly;
    text-align: right;
}

#about-2 {
    order: 2;
}

#about-3 {
    order: 3;
    text-align: left;
}

.about-img {
    width: 150px;
    height: 150px;
    border: 10px solid#C0C0C0;
    border-radius: 50%;
    margin: 0 auto;
}

/* Media Query */

@media only screen and (min-width: 200px) and (max-width : 600px) {
    
    /* Header */

    .header {
        grid-template-rows: 10vh auto;
        background-image: url(img/glenn-carstens-peters-203007-unsplash-min.jpg);
    }

    .responsive {
        display: flex;
        flex-direction: column;
        align-content: center;
        position: absolute;
        background-color: #222;
        justify-content: space-around;
        width: 100%;
        height: 200px;
    }

    .responsive li {
        margin-left: 30px;
    }

    .nav-list {
        display: none;
    }

    .top-bar {
        height: 8vh;
        align-items: end;
        text-align: left;
    }

    .top-bar h2 {
        width: auto;
        font-size: 26px;
        align-self: center;
        text-align: left;
        margin-left: 30px;
    }

    .nav-btn {
        display: inline-block;
        width: 60%;
        height: 33px;
        margin: 0 auto;
        font-size: 17px;
        text-transform: uppercase;
        background-color: #0074D9;
        border: none;
        color: white;
        border-radius: 8px;
    }

    .nav-btn i {
        font-size: 15px;
    }

    .header-text h3 {
        font-size: 25px;
    }

    .header-text h1 {
        font-size: 60px;
    }

    /* Services */

    .services {
        width: 80%;
        grid-template-columns: 1fr;
    }

    .services-text {
        margin-bottom: 30px;
    }

    /* Portfolio */

    .portfolio-container {
        width: 80%;
        grid-template-columns: 1fr;
        height: 800px;
    }

    .portfolio-img {
        height: auto;
    }

    /* About */

    .about-row {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .about-container {
        height: 1500px;
    }

    #about-3 {
        text-align: center;
        order: 1;
    }
}